body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #6b6b6b;
    overflow-x: hidden;
    
}
    
  .tm-brand-container {
    padding: 75px 110px;
  }
    